@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap");

.nav-bg-color {
  background-color: rgb(243, 233, 241) !important;
}

#product-card {

  padding: 1rem;
  box-shadow: 1px 1px 10px;
  border-radius: 1rem;
  color: #444;
}
.show-cart li {
  display: flex;
}
.mb-6 {
  margin-bottom: 6rem !important;
}
.cart-section__remove {
  background-color: rgba(173, 137, 143, 0.801);
  margin-right: 0.2rem;
}
.cart-section__add {
  background-color: rgb(191, 178, 195);
  margin-left: 0.2rem;
}
.img-top {
  width: auto ;
  height: auto;
  
}
footer {
  position: fixed;
  bottom: 0;
}
.product-section {
  margin: auto;
}
.product__btn {
  color: #eee;
}
.product__btn:hover {
  cursor: pointer;
text-decoration: none;
color: #000;
}
#form1{
  margin-bottom: 5rem;
}