@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@700&display=swap");

.nav-bg-color {
  background-color: rgb(243, 233, 241) !important;
}

#product-card {
  margin: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 1px 1px 10px;
  border-radius: 1rem;

  color: #444;
}
.show-cart li {
  display: flex;
}

.show-cart li {
  display: flex;
}
.card {
  margin-bottom: 20px;
}
.card-img-top {
  width: 200px;
  height: 200px;
  align-self: center;
}
